<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eipgam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.eipgam.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.eipgam.ManualCadastre"
            android:label="@string/title_activity_manual_cadastre" />
        <activity
            android:name="com.example.eipgam.user.CadastreActivity"
            android:label="@string/title_activity_cadastre" >
        </activity>
        <activity
            android:name="com.example.eipgam.SumaryActivity"
            android:label="@string/title_activity_sumary" >
        </activity>
        <activity
            android:name="com.example.eipgam.user.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.eipgam.spending.SpendingActivity"
            android:label="@string/title_activity_spending" >
        </activity>
        <activity
            android:name="com.example.eipgam.goal.GoalActivity"
            android:label="@string/title_activity_goal" >
        </activity>
        <activity
            android:name="com.example.eipgam.ConfigActivity"
            android:label="@string/title_activity_config" >
        </activity>
        <activity
            android:name="com.example.eipgam.SavingTipsActivity"
            android:label="@string/title_activity_saving_tips" >
        </activity>
        <activity
            android:name="com.example.eipgam.goal.EditGoalActivity"
            android:label="@string/title_activity_edit_goal" >
        </activity>
        <activity
            android:name="com.example.eipgam.spending.EditSpendingActivity"
            android:label="@string/title_activity_edit_spending" >
        </activity>
    </application>

</manifest>